
LD_ENV/Saved/Config/WindowsEditor/Engine.ini
LD_ENV/Saved/Logs/LD_ENV.log
LD_ENV/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
LD_ENV/Saved/Autosaves/PackageRestoreData.json
LD_ENV/Content/FirstPerson/Maps/Main.umap
